body {
    background:white;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.footer {
    margin-top:35px;
    padding:35px 0;
    border-top: 1px solid #eee;
    text-align: center;
}
.add {
    margin:20px 0;
}